:root {
  --md-ref-typeface-plain: system-ui, sans-serif;
  --color-primary: black;
  --color-secondary: white;
  --color-tertiary: #e4e4e4;
}

html,
body {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: #333;
  }
}
